useDynLib(TPmsm, .registration=TRUE)
importFrom("KernSmooth", dpik)
importFrom("graphics", axis, box, contour, image, layout, lcm, legend, lines, par, plot, plot.new, plot.window, rect, title)
importFrom("grDevices", grey, heat.colors)
export(as.data.frame.survTP, is.survTP, survTP, TPmsmOut)
export(corrTP, dgpTP)
export(transAJ, transPAJ, transKMW, transKMPW, transIPCW, transLIN, transLS)
export(lines.TPmsm, plot.TPmsm)
export(contour.TPCmsm, image.TPCmsm, lines.TPCmsm, plot.TPCmsm)
export(setPackageSeedTP, setSeedTP, setThreadsTP)
S3method(as.data.frame, survTP)
S3method(contour, TPCmsm)
S3method(image, TPCmsm)
S3method(lines, TPmsm)
S3method(lines, TPCmsm)
S3method(plot, TPmsm)
S3method(plot, TPCmsm)
S3method(print, TPmsm)
S3method(print, TPCmsm)
S3method(setSeedTP, NULL)
S3method(setSeedTP, TPmsmSeed)
