useDynLib(TPmsm)
importFrom("KernSmooth", dpik)
importFrom("graphics", plot, lines, legend, par, layout, image, contour, plot.new, title)
importFrom("grDevices", heat.colors)
export(is.survTP, survTP, adaptp3state)
export(corrTP, dgpTP)
export(transAJ, transPAJ, transKMW, transKMPW, transIPCW, transLIN, transLS)
export(plot.TPmsm, plot.TPCmsm, image.TPCmsm, contour.TPCmsm)
S3method(print, TPmsm)
S3method(print, TPCmsm)
S3method(plot, TPmsm)
S3method(plot, TPCmsm)
S3method(image, TPCmsm)
S3method(contour, TPCmsm)
